body {
  	margin: 0;
  	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	--sidebar-bg: #DD1367;
	--sidebar-border: #56C02A;

	--schedule-bg: #0996DB;
	--whats-next-bg: #FD6824;
	
	--bottom-bar-bg: #595656;
	--bottom-bar-border-image: repeating-linear-gradient(to right, 
	#E5233B 0%, #E5233B 2.94%,
	#DCA63A 2.94%, #DCA63A 5.88%,
	#4C9E38 5.88%, #4C9E38 8.82%,
	#C51A2D 8.82%, #C51A2D 11.76%,
	#FF3A20 11.76%, #FF3A20 14.7%, 
	#25BDE2 14.7%, #25BDE2 17.64%,
	#FBC30A 17.64%, #FBC30A 20.58%, 
	#A21A42 20.58%, #A21A42 23.52%,
	#FD6824 23.52%, #FD6824 26.46%,
	#DD1367 26.46%, #DD1367 29.4%,
	#FD9D24 29.4%, #FD9D24 32.38%,
	#B98E30 32.34%, #B98E30 35.28%,
	#3F7E45 35.28%, #3F7E45 38.22%,
	#0997D9 38.22%, #0997D9 41.16%,
	#56C02A 41.16%, #56C02A 44.1%,
	#00689D 44.1%, #00689D 47.04%,
	#1A486A 47.04%, #1A486A 50%) 10;
}