.whatsNext {
	background-color: var(--whats-next-bg);
	padding: 0.3rem 0.5rem 0.8rem;
}
.title {
	margin: 0;
}
.timeRemaining {
	display: block;
	font-size: 2.5em;
	font-weight: bold;
	height: 3.5rem;
}