@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');
h2 {
	font-family: Lato;
	margin: 0;
	text-transform: uppercase;
	margin: 0;
}

.kiosk {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.kiosk main {
	display: grid;
	flex-grow: 1;
	grid-template-columns: auto 18rem;
}
.kiosk footer {
	height: 8rem;
}
.sidebar {
	color: white;
	display: flex;
	flex-direction: column;
	text-align: center;

	box-sizing: border-box;
	border-left: 0.6rem solid var(--sidebar-border);
}
.logo {
	background-color: var(--logo-bg);
}
.logo img {
	width: 16rem;
	margin: 0.3rem;
}