.bottomBar {
	background-color: var(--bottom-bar-bg);
	height: 100%;

	box-sizing: border-box;
	border-top: 1rem solid;
	border-image: var(--bottom-bar-border-image);
	z-index: 3;
	position: relative;
}
.bottomBar > div {
	position: absolute;
	transition: 1s opacity;
}