.bottomBar {
	background-color: var(--bottom-bar-bg);
	height: 100%;

	box-sizing: border-box;
	border-top: 1rem solid;
	border-image: var(--bottom-bar-border-image);
	z-index: 3;
	position: relative;
}
.bottomBar > div {
	position: absolute;
	transition: 1s opacity;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.contentBox {
	background-color: #fff;
	color: #161616;
	padding: 0.5rem 1rem 0.6rem;
	margin: 0.5rem;
	font-size: '1.2em';
	min-height: calc(70% - 2rem);
	display: flex;
	align-items: center;
}